<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}">

    <!--<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.3/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.3/jquery.min.js}"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.3/jquery.min.js}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
            th:href="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>

    <link href="../static/css/thehecklers.css"
          th:href="@{css/thehecklers.css}" rel="stylesheet" media="screen"/>
    <title>KeyScan</title>
</head>
<body>
    <div class="container-fluid">
        <div class="page-header">
            <h1>Twitter Keyword Scanner</h1>
            <h4>@mkheck, mark.heckler@gmail.com</h4>
        </div>
    </div>
    <form action="#" th:action="@{/search}" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <label>Keyword: </label>
                    <input type="text" name="keyword">
                </div>
                <div class="col-sm-6">
                    <label>Replace with: </label>
                    <input type="text" name="replace">

                    <button type="submit" value="Submit" class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon-search"></span> Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
    <br>
    <div class="container-fluid">
        <table class="table-striped">
            <thead>
                <tr>
                    <th>Text</th>
                    <th>URI</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tweet: ${Tweets}">
                    <td th:text="${tweet.text}"></td>
                    <td th:text="${tweet.uri}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>